{% extends "base.html" %} 
{% load i18n static %}
{% load account socialaccount %}
{% block head_title %}
{% trans "Sign In" %}
{% endblock %} 
{% block content %}
<div class="container-fluid">
  <div class="container login-logout">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Welcome back to TranquilTrack" %}</h3>

        <p>
          {% blocktrans %} If you have not created an account yet, then
          <a class="link" href="{{ signup_url }}">sign up</a> first.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button class="btn btn-primary login-logout-btn" type="submit">
            {% trans "Sign In" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="{% static 'css/style.css' %}"
  crossorigin="anonymous"
/>
{% endblock %}
