/* Global----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "quicksand", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Base.html ----------------------------------------------------- */
footer {
  background-color: #519e8a;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

.logo {
  max-height: 80px;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}

/* navbar*/

nav {
  background: rgb(11, 64, 11);
  background: linear-gradient(
    90deg,
    rgba(11, 64, 11, 1) 14%,
    rgba(25, 105, 46, 1) 38%,
    rgba(42, 167, 94, 1) 68%
  );
  margin-bottom: 3rem;
}

.nav-item {
  list-style-type: none;
}

#navbarText a {
  color: #fff;
}

#navbarText a:hover {
  background-color: #2aa75e;
}

/* index.html ----------------------------------------------------- */
.daily-affirmation {
  position: relative;
}

.affirmation-box {
  background: #fff;
  width: 700px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.affirmation-box h2 {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

.affirmation-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.affirmation-box blockquote {
  font-size: 26px;
  min-height: 100px;
}

.affirmation-box blockquote::before,
.affirmation-box blockquote::after {
  content: '"';
}

.affirmation-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.new-affirmation-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
}

.new-affirmation-btn:hover {
  background-color: #407c6d !important;
}

/* support.html ----------------------------------------------------- */
#map {
  width: 500px;
  height: 500px;
}

.map {
  display: flex;
  justify-content: center;
}

/* login/signup/logout ----------------------------------------------------- */

.login-logout {
  max-width: 50%;
  max-width: 500px;
  min-width: 200px;
  padding: 50px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: black;
}

.logout-heading {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

.logout-heading::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.login-logout-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
  color: #fff;
}

.login-logout-btn:hover {
  background-color: #407c6d !important;
}

.logout-text {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.logout-container {
  margin: auto;
}

.sign-up {
  max-width: 700px;
  padding: 10px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: black;
}

form ul li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
}

form label {
  padding-bottom: 5px;
  font-weight: 500;
}

#id_username,
#id_password1,
#id_email,
#id_password2 {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
}

#id_password2 {
  margin-bottom: 20px;
}

/*styling of charts*/
.charts {
  width: 70%;
  margin: auto;
  padding: 8%;
}
