/* Global----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "quicksand", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Base.html ----------------------------------------------------- */
footer {
  background-color: #519e8a;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

.logo {
  max-height: 80px;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}

/* navbar*/

nav {
  background: rgb(11, 64, 11);
  background: linear-gradient(
    90deg,
    rgba(11, 64, 11, 1) 14%,
    rgba(25, 105, 46, 1) 38%,
    rgba(42, 167, 94, 1) 68%
  );
  
}

.nav-item {
  list-style-type: none;
}

#navbarText a {
  color: #fff;
}

#navbarText a:hover {
  background-color: #2aa75e;
}

/* index.html ----------------------------------------------------- */
.daily-affirmation {
  position: relative;
  margin: 0 auto;
  min-height: 500px;
  width: 100%;
  position: relative;
}

.daily-affirmation img{
  position: relative;
  min-height: 450px;
  width: 100%;

}

.affirmation-box {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.affirmation-box h2 {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 600;
  font-size: medium;

}

.affirmation-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.affirmation-box blockquote {
  font-size: 26px;
  font-size: small;
  padding: 0 4rem 0 3rem;
  max-height: 100px;
  overflow: scroll;
}

.affirmation-box blockquote::before,
.affirmation-box blockquote::after {
  content: '"';
}

.affirmation-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 35px;
  margin: 5px;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
}

.new-affirmation-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
}

.new-affirmation-btn:hover {
  background-color: #407c6d !important;
}

/* support.html ----------------------------------------------------- */
#map {
  width: 500px;
  height: 500px;
}

.map {
  display: flex;
  justify-content: center;
}

/* login/signup/logout ----------------------------------------------------- */

.login-logout {
  max-width: 50%;
  max-width: 500px;
  min-width: 200px;
  padding: 50px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: black;
}

.logout-heading {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

.logout-heading::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.login-logout-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
  color: #fff;
}

.login-logout-btn:hover {
  background-color: #407c6d !important;
}

.logout-text {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.logout-container {
  margin: auto;
}

.sign-up {
  max-width: 700px;
  padding: 10px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: black;
}

form ul li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
 
}

form label {
  padding-bottom: 5px;
  font-weight: 500;
}

#id_username,
#id_password1,
#id_email,
#id_password2 {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
}

#id_password2 {
  margin-bottom: 20px;
}

/* 404.html / 403.html / 500.html ----------------------------------- */

.error-page-container {
  display: grid;
  place-items: center;
}

.error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (min-width: 594px){
  .affirmation-box h2 {
    font-size: large;
  
  }
  
  .affirmation-box blockquote {
    font-size: 26px;
    font-size: medium;

  }

  .affirmation-box button {
    height: 60px;
    width: 180px;
    line-height: 28px;
  }
}

@media screen and (min-width: 812px){
  .affirmation-box h2 {
    margin-bottom: 30px;
    font-size: 38px; 
  }
  
  .affirmation-box blockquote {
    font-size: large;
    padding: 0 6rem 0 6rem;
    max-height: 300px;
  }

  .affirmation-box button {
    height: 65px;
    border-radius: 30px;
    font-size:large;
    
  }
}





@media screen and (min-width: 1140px){
  .affirmation-box blockquote {
    padding: 0 6rem 0 8rem;
    overflow: unset;
    padding: 0 10rem 0 10rem;
 
  }
  .affirmation-box {
    left: 5%;
    top: 30%;
  }

}



@media screen and (min-width: 1990px){
  .affirmation-box blockquote {
    padding: 0 14rem 0 14rem;
  }
}

