/* Global----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "quicksand", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Base.html ----------------------------------------------------- */
footer {
  background-color: #519e8a;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

.logo {
  max-height: 80px;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}

/* navbar*/

nav {
  background: rgb(11, 64, 11);
  background: linear-gradient(
    90deg,
    rgba(11, 64, 11, 1) 14%,
    rgba(25, 105, 46, 1) 38%,
    rgba(42, 167, 94, 1) 68%
  );
}

.extra-padding {
  padding: 0 2rem;
}

.nav-item {
  list-style-type: none;
  margin-right: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

#navbarText a {
  color: #fff;
}

#navbarText a:hover {
  background-color: #2aa75e;
}

.active {
  background-color: #2aa75e;
}
/* index.html ----------------------------------------------------- */


.index {
  justify-content: center;
  margin-left: 0;
  width: 100%;
  max-height: 80vh;
}

.affirmation-box {
  background: #fff;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  margin-top: 50px;
}

.affirmation-box h2 {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

.affirmation-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.affirmation-box blockquote {
  font-size: 26px;
  min-height: 100px;
}

.affirmation-box blockquote::before,
.affirmation-box blockquote::after {
  content: '"';
}

.affirmation-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.new-affirmation-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
}

.new-affirmation-btn:hover {
  background-color: #407c6d !important;
}

/* support.html ----------------------------------------------------- */
#map {
  min-width: 98%;
  max-height: 98%;
  margin: 10px 0 10px 0;
}
.table-success {
  margin: 10px 0 10px 0;
  width: 100%;
}

.table-container {
  padding-right: 20px;
  padding-left: 20px;
}
.map {
  display: flex;
  justify-content: center;
  height: 600px;
}

.support-heading {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 0 20px;
}

.support-text {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

/* login/signup/logout ----------------------------------------------------- */

.login-logout {
  max-width: 50%;
  max-width: 500px;
  min-width: 200px;
  padding: 50px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: black;
}

.logout-heading {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

form ul li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
}

form label {
  padding-bottom: 5px;
  font-weight: 500;
}

#id_username,
#id_password1,
#id_email,
#id_password2,
#id_login,
#id_password {
  display: flex;

  margin: 0 auto;
  padding: 5px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#id_password {
  margin-bottom: 10px;
}

.login-logout .row .col-md-8 p a,
.sign-up .row .col-md-8 p a {
  color: #519e8a;
  font-weight: 600;
}

/* moodtracker ----------------------------------------------------- */
.moodtracker {
  position: relative;
}

.moodtracker-container {
  background: #fff;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.moodtracker-container h2 {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

.moodtracker-container h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.moodtracker-container blockquote {
  font-size: 26px;
  min-height: 100px;
}

.moodtracker-container blockquote::before,
.moodtracker-container blockquote::after {
  content: '"';
}

.moodtracker-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
}

.moodtracker-btn:hover {
  background-color: #407c6d !important;
}

.diary-list-container {
  background: #fff;
  position: relative;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: black;
}

/* 404.html / 403.html / 500.html ----------------------------------- */

.error-page-container {
  display: grid;
  place-items: center;
}

.error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*styling of charts*/
.chart {
  width: 80%;
  margin: auto;
  padding: 8%;
}
.chart p {
  text-align: center;
}

.index {
  margin: auto;
}
#x-axis {
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

ul{
  padding-left: 0;
}


.fit-content-width{
  width: fit-content;
}

.container-padding{
  padding: 5rem 2rem;
}

.margin-signup{
  margin-right: 10px;
}


.btn-signup, .login-logout-btn{
  background-color: #519e8a !important;
  color: #fff !important;
}

.btn-signup:hover, .login-logout-btn:hover{
  background-color: #407c6d !important;
}

@media screen and (min-width: 310px) {
  .affirmation-box {
    top: 18%;
  }
}


@media screen and (min-width: 340px) {
  .affirmation-box {
    top: 19%;
  }
}

@media screen and (min-width: 365px) {
  .affirmation-box {
    top: 18%;
  }


  .affirmation-box h2 {
    font-size: 22px;
  }

  .affirmation-box blockquote {
    font-size: 15px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.affirmation-box button {
  height: 40px;
  font-size: small;
  width: 150px;
}
}


@media screen and (min-width: 365px) {
  .affirmation-box {
    top: 19%;
  }
}

@media screen and (min-width: 397px) {
  .affirmation-box {
    top: 20%;
  }
}

@media screen and (min-width: 415px) {
  .affirmation-box {
    top: 21%;
  }
}

@media screen and (min-width: 440px) {
  .affirmation-box {
    top: 22%;
  }
}

@media screen and (min-width: 440px) {
  .affirmation-box {
    top: 25%;
  }
}

@media screen and (max-width: 500px) {
  .chart {
    width: 100%;
    padding: 1%;
  }
  
}

@media screen and (min-width: 594px) {
  .affirmation-box h2 {
    font-size: large;
  }

  .affirmation-box blockquote {
    font-size: 26px;
    font-size: medium;
  }

  .affirmation-box button {
    height: 60px;
    width: 180px;
    line-height: 28px;
  }
}

@media screen and (min-width: 812px) {
  .affirmation-box h2 {
    margin-bottom: 30px;
    font-size: 38px;
  }

  .affirmation-box blockquote {
    font-size: large;
    padding: 0 6rem 0 6rem;
    max-height: 300px;
  }

  .affirmation-box button {
    height: 65px;
    border-radius: 30px;
    font-size: large;
  }
}

@media screen and (min-width: 992px) {
  .in-line{
    display: inline-flex;
  }
}  


@media screen and (min-width: 1140px) {
  .affirmation-box blockquote {
    padding: 0 6rem 0 8rem;
    padding: 0 10rem 0 10rem;
  }
  .affirmation-box {
    left: 5%;
    top: 30%;
  }
}

@media screen and (min-width: 1990px) {
  .affirmation-box blockquote {
    padding: 0 14rem 0 14rem;
  }
}
