/* Global----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "quicksand", sans-serif;
}

/* Base.html ----------------------------------------------------- */
footer {
  background-color: #519e8a;
  color: #ffffff;
  text-align: center;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}

/* index.html ----------------------------------------------------- */
.daily-affirmation {
  position: relative;
}

.affirmation-box {
  background: #fff;
  width: 700px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.affirmation-box h2 {
  margin-bottom: 30px;
  font-size: 38px;
  position: relative;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
}

.affirmation-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: #519e8a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.affirmation-box blockquote {
  font-size: 26px;
  min-height: 100px;
}

.affirmation-box blockquote::before,
.affirmation-box blockquote::after {
  content: '"';
}

.affirmation-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.new-affirmation-btn {
  background-color: #519e8a !important;
  border-color: #519e8a !important;
}

.new-affirmation-btn:hover {
  background-color: #407c6d !important;
}
