{% extends 'base.html' %} {% load static %} {% block content %}

<div class="index">
  <div class="affirmation-box">
    <h2>Today's Affirmation</h2>
    <blockquote id="affirmation">Loading...</blockquote>
    <div>
      <button
        class="btn btn-primary new-affirmation-btn"
        onclick="getAffirmation(api_url)"
      >
        New Affirmation
      </button>
    </div>
  </div>
</div>

{% for diary in diary_list %}
<section class="moodtracker">
  <div class="diary-list-container mb-2">
    <p class="{{ diary.date_created|date:'l' }}">
      {{ diary.date_created|date:'Y-m-d H:i' }}
    </p>
    <p>
      <a href="{% url 'diary_detail' diary.id %}"> {{ diary.title }} </a>
    </p>
  </div>
</section>
{% endfor %}

<!--from views.py data gets gathered from the database Diary Model-->
<!--and send to this template file-->
<!--and is then grabbed in JS using getAttribute-->
<!--this was done following this example:
https://www.hacksoft.io/blog/quick-and-dirty-django-passing-data-to-javascript-without-ajax-->
<div id="jsonData" data-json="{{ data }}"></div>

<!--responsible for displaying chart to site-->
<div class="chart">
<!--  line chart-->
  <canvas id="lineChart"></canvas>
  <!--  naming the x-axis-->
  <p>Dates</p>
</div>


<script src="{% static 'js/affirmation.js' %}"></script>
<!--Script tags to load charts-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Script to load my javascript file for handling charts-->
<script type="module" src="{% static 'js/chart.js' %}"></script>

{% endblock %}
