{% extends 'base.html' %} {% load static %} {% block content %}
<section class="moodtracker container-padding">
  <div class="moodtracker-container fit-content-width">
    <h2>How are you feeling today?</h2>
    <p>Log your daily entry</p>
    <div>
      <a href="{% url 'diary' %}" class="btn btn-primary moodtracker-btn">
        Diary Entry
      </a>
    </div>
    <p class="mt-5">View your previous entries</p>
    <div>
      <a href="{% url 'diary_list' %}" class="btn btn-primary moodtracker-btn">
        Previous Entries
      </a>
    </div>
  </div>
</section>
{% endblock %}
